.row{
    display: flex;
}
button{
    color:darkgrey;
    background-color: rgb(78, 78, 78);
    outline-color: black;
    border-color: black;
    
}
.container{
margin:auto;
 width: 50%;
 padding: 10px;
}